#bigbox{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    margin-top: 20px;
}
#smallbox{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}